@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --bg-color: #7EACB5;
    --primary-color: #FFF4EA;
    --secondary-color: #FADFA1;
    --font: “Montserrat”, sans-serif;
}
body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}
h1 {
    font-size: 2rem;
    color: var(--secondary-color);
     font-weight: 700;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}